body {
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1000px;
    padding: 25px;
}

.add-field {
    border: none;
    font-size: 1.25rem;
}

.add-button {
    background-color: lightseagreen;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

form {
    padding: 5px 0 5px 0;
}

.tasks {
    padding: 15px 0 0 0;
}

.task-description {
    padding: 5px 0 5px 0;
    display: flex;
}

img[src^="./images/edit"]{
    width: 1.25rem;
    height: auto;
    margin-left: auto;
    display: none;
}

img[src^="./images/delete"]{
    width: 1.25rem;
    height: auto;
    display: none;
}


.tasks div {
    font-size: 1.25rem;
}

.task-description:hover > img {
    display: block;
} 